.hero_text{
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: fadeInEffect .8s ease, fadeUpEffect .8s ease;
}

.hero_text p{
    mix-blend-mode: plus-lighter;
    color: #7c7c7c;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 22px;
}
.hero_text span{
    color: rgb(211, 211, 211);
}
.primary-btn-container {
    position: relative;
    display: inline-flex;
    padding: 10px 57px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    min-width: max-content;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, .1); /* Use rgba directly */
    background: #6435e9;
    cursor: pointer;
    overflow: hidden;
    transition: all .3s ease;
}

.primary-btn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: transform .3s ease; /* Use transform for smooth transition */
    z-index: 1;
}

.primary-btn-container:hover .primary-btn {
    transform: translateX(3px); /* Shift to the right */
}


@keyframes fadeInEffect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeUpEffect {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translate(0);
    }
}

